body {

    background-color: #000000;
    color: #00ff00;
}

textarea {

    background-color: #000000;
    color: #00ff00;
}

hr {
    color: #00ff00;
    size: 1px;
}

.box {
    background-color: #000000;
    color: #00aa00;
    border-color: #00ff00;
    border-width: 1px;
    border-style: solid;
    /*height: 300;*/
    width: auto;
}

.collumn {
    background-color: #000000;
    color: #00aa00;
    border-color: #00ff00;
    border-width: 1px;
    border-style: solid;
    
    width: auto;
    height: auto !important;
    /* height: 100%;  IE 6 Workaround */
    min-height: 100%;
}


a:link, a:visited {
    color: #00ff00;
    text-decoration: none;
}

a:hover, a:active {
    color: #ff00ff;
}

input {
    background-color: #000000;
    border-style: groove;
    border-color: #00ff00;
    color: #00ff00;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}


.searchbar {
    width: 80%;
}




.linkbutton {
    background-color: #000000;
    border-style: groove;
    border-color: #00ff00;
    color: #00ff00 !important;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}


.linktitle {
    color: #00ff00;
    text-decoration: none;
}

.linktitle:hover {
    color: #ffff00 !important;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px;
  padding: 20px;
  text-align: center;
}




.template-main {
    flex: 80%;
    padding: 10px;
    height: auto;
}
.template-collumn {
    flex: 20%;
    padding: 10px;
    height: auto;
}

/* Clear floats after the columns */
.template-container {
  display: flex;
  padding: 5px;
}




