{% extends "base.html"  %}


{% block body %}
    <div class="template-container">
        <div class="template-main">
            </br>
            <div class="box">
                <div class="grid-container">
                    {% for title, link in results %}
                    <div class="grid-item">
                        <p>
                        <a href="/view?id={{link}}&title={{title}}"><strong>{{title}}</strong></a></br></br>
                        <a href="/addtoqueue?id={{link}}&title={{title}}">(Add to queue)</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div></br>
            <div class="box">
                <form action="/loadfromyt" method="GET">
                    <input type="submit" value="Load from yt">
                    <input type="text" name="url" placeholder="Paste URL here">
                </form>
            </div></br>
            <div class="box">
                <strong>Queue</strong></br>
                * <a href="/view">Play Now</a></br>
                * <a href="/export">Export</a></br>
                <form action="/import" method="GET">
                    <input type="submit" value="Import">
                    <input type="text" name="code" placeholder="Paste your queue code here">
                </form>
                <ul>
                    {% for id, title in queue %}
                    <li>{{title}} <a href="/remove/{{id}}">(-)</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="template-collumn">
            <div class="collumn">
            {% block header %}
            {% endblock %}
            </div>
        </div>
        

    </div>


{% endblock %}
