
<html>
    <head>
        <title>SpotiFuck</title>
        <link rel="stylesheet" href="css">
    </head>
    <body>
        <center>

        <div class="template-container">
            <div class="template-collumn">
                <h2><a class="linktitle" href="/">SpotiFuck</a></h2>
            </div>
            <div class="template-main">
                <form action='/search'  method='get'>
                    <input type="text" name="q" class="searchbar" placeholder="Search for music here">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>

        {% block body %}
        {% endblock %}
        </center>

        

    </body>
</html>
