{% extends "base-search.html"  %}


{% block header %}

<strong>SpotiFuck</strong></br>
Free and open source music streaming/downloading.</br>
<a href="https://codeberg.org/LinuxPropaganda/spotifuck">Source Code</a>
</br>
Any issue? Report them! <a href="/issue">here</a>
<hr>
Unavaiable (copyrighted) videos are shown as 0:00/0:00, even tho sometimes you just gotta wait
<hr>
If you wish to whatch videos without even running the browser, you should check <a href="https://codeberg.org/LinuxPropaganda/yttui">YouTubeTUI</a>
(It can play every video!)
{% endblock %}





