{% extends "base.html"  %}

{% block body %}

<h3> Reporting Issue </h3>
Please report any:
<ul>
<li> Bug </li>
<li> Missing feature </li>
<li> Problems with your experience </li>
</ul>

<form action="/issuer" method="post">
    <textarea rows="10" cols="100" name="issue" placeholder="Describe your issue" required/></textarea></br>
    <input type="email" name="email" placeholder="Email for response (optional)" /></br>
    <input type="submit" value="Upload"/>
</form>

{% endblock %}
