{% extends "base.html"  %}


{% block body %}
    <div class="template-container">
        <div class="template-main">
            <div class="box">
                {% block content %}

                {% endblock %}
            </div>
            </br>
            <div class="box">
                </br>
                {{description}}
                </br>
                Enjoy your spyware free music!
                {% block info%}
                {% endblock %}
            </div>
        </div>
        
        <div class="template-collumn">
            <div class="box">
                Enjoy <3
            </div>
        </div>
    </div>
{% endblock %}
