 
{% extends "show.html"  %}


{% block content %}
<div class="box">

<h3>{{title}}</h3>
{% if queue != "[]" %}
<a href="/view">Skip Song</a>
{% endif %}

<audio id="audio" controls autoplay>
<source src="{{link}}" type="audio/mpeg">
Your browser does not support audio.
</audio> 

</div>

{% if queue != "[]" %}
<script type="text/javascript">
	
	function redirectHandler() {
		document.location = 'view';
	}

	audio.addEventListener('ended', redirectHandler, false);


</script>
{% endif %}


{% endblock %}


{% block info %}
(Download by right clicking or <a href="{{link}}">here</a>)
{% endblock %}